@{
    ViewData["Title"] = "Viagens.com";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Viagens.com</h1>
    <h3>Aonde seus sonhos se tornam realidade!</h3>
</div>
<br>
<br>
<br>
<p>Somos uma empresa do ramo de viagens, estamos no mercado desde 1996 fornecendo as melhores viagens para você e a sua familia!</p>
