@{ViewData["Title"] = "Confirmação de cadastro";}

<h3>Item cadastrado com sucesso!!!</h3>
<p><a asp-action="Index">Cadastrar novo item</a></p>
<p><a asp-action="Listar">Listar os itens cadastrados</a></p>