@{
    ViewData["Title"] = "Inicio";
}

<div>
<h2>Bem vindo ao nosso site!</h2>
</div>

<h3>Destaques</h3>
    <div>
        <ul>
            <li><h4>Clinica 24H</h4></li>
            <img src="~/img/imagem1.png">
            <li><h4>Medicação</h4></li>
            <img src="~/img/imagem2.jpg">
        </ul>
        
    </div>

