@{
    ViewData["Title"] = "Serviços";
}

<div>
<h2>Serviços disponiveis:</h2>
</div>


<h3>Clinica 24H</h3>
<ul>
<li>Atendimento com profissionais especializados e experientes</li>
<li>Valor da consulta com hora marcada: R$ 100</li>
<li>Valor da consulta urgencia: R$ 200</li>
</ul>
<h3>Medicação</h3>
<ul>
<li>Medicamentos de qualidade e aprovados pelos orgãos competentes</li>
<li>Valor de vacinas: R$ 60 até R$ 100</li>
<li>Valor da aplicação de injecões: R$ 70</li>
</ul>
<h3>Internações</h3>
<ul>
<li>Equipamentos de ultima geração para o conforto do seu pet,
    o animal fica sobe observação 24h por dia.
</li>
<li>Valor da internação por dia: R$ 150</li>
</ul>

