#topo{
    display: flex;
    /* distrubui os elementos na horizontal*/
    justify-content: space-around;
    /* alinhamento dos itens*/
    align-items: flex-start;
    /*não vai deixar os elementos se encostarem*/
    flex-wrap: wrap;
    /*não vai deixar os elementos descerem muito por causa do flex-wrap*/
    align-content: flex-start;
}

#divBusca{
    background-color:#d3d3d3;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    margin-top: 50px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}

svg{
    display: inline-block;
    font-size: inherit;
    height: 1.5em;
    overflow: visible;
    vertical-align: -.125em;
}

#user{
    margin-top: 50px;
    width: 90px;  
}

.user{
    position: absolute;
    color:black;
    margin-left: 10px;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#texto-banner{
    position: absolute;
    color:black;
    text-align: center;
    top: 250px;
    width: 250px;
    line-height: 30px;
    height: 30px;
    font-size: 40px;
}

#texto-banner2{
    position: absolute;
    color:black;
    text-align: center;
    top: 310px;
    width: 250px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

#moda{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.moda-masculina{
    display: flex;
    align-items: center;
}

.link-moda-masculina{
    position: absolute;
    color:black;
    text-align: center;
    top: 1400px;
    width: 315px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

.moda-feminina{
    display: flex;
    align-items: center;
}

.link-moda-feminina{
    position: absolute;
    color:black;
    text-align: center;
    top: 1400px;
    width: 315px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

.moda-feminina{
    display: flex;
    align-items: center;
}

.link-moda-feminina{
    position: absolute;
    color:black;
    text-align: center;
    top: 1400px;
    width: 315px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

.pijama{
    display: flex;
    align-items: center;
}

.link-pijama{
    position: absolute;
    color:black;
    text-align: center;
    top: 1400px;
    width: 315px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

.esportivo{
    display: flex;
    align-items: center;
}

.link-esportivo{
    position: absolute;
    color:black;
    text-align: center;
    top: 1400px;
    width: 315px;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}