@{
    ViewData["Title"] = "Home Page";
}
<input type="button" value="Clique aqui!" id="btnAcao"/>
<ul id="horarios">
</ul>

<span id="mensagem" style="color:red;"></span>
<form id="login" method="POST">
<p>Nome: <input type="text" name="login" id="txtLogin"/> </p>
<p>Senha: <input type="password" name="senha" id="txtSenha"/> </p>
    <input type="submit" value="Login" />
</form>