body{
    background-color: #000000;
}
div{
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
}
.opaco{
    background-color: rgb(255, 127, 0);
}
.transparente{
    background-color: rgba(255, 127, 0, 0.5);
}