@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">NujuStore</h1>
</div>

<br>
<br>
<br>
<br>

<div style="text-align:left">
    <h3>Somos uma loja de roupas femininas</h3>
    <h3>Venha nos conhecer!</h3>
</div>
<br>
<br>
<br>
<br>
<div style="text-align:right">
    <h4>Aberto de segunda-feira a sexta-feira das 09:00h até 18:00h</h4>
    <h4>Sabado das 09:00h até 12:00h</h4>
    <h4>Endereço: Avenida Fulano de Tal, 200</h4>
    <h4>Telefone para contato: (12)999999999</h4>
    <h4>E-mail para contato: najustore@email.com</h4>
</div>
